body {
    background: url(background.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
    color: rgb(46, 46, 46);
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "i a"
    "p p"
    "o o";
    padding-left: 15%;
    padding-right: 15%;
}

/* this is for phones */
@media (max-width: 750px) {
    .container {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 500;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "i a"
        "p p"
        "o o";
        height: 100%;
        color: rgb(46, 46, 46);
        padding-left: 12%;
        padding-right: 12%;
    }
}

#about {
    background-color: rgba(80, 154, 204, 0.7);
    grid-area: a;
    /* padding will just move text while margin will move the whole elemnt */
    padding: 10px;
}

.image {
    background-color: rgba(80, 154, 204, 0.7);
    grid-area: i;
    padding: 10px;
}
img {
    width: 100%;
    padding-top: 22px;
    margin: 0 auto;
}

.pointer {
    padding: 10px;
    background-color: rgba(80, 154, 204, 0.7);
    grid-area: p;
}

.other {
    padding: 10px;
    background-color: rgba(80, 154, 204, 0.7);
    grid-area: o;
}