.container {
    height: 100%;
    background-color: pink;
    color: grey;
    grid-gap: 10px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-template-rows: repeat(1fr); */
    grid-template-columns: minmax(100px, 2fr) 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
}

/* this is for phones */
@media (max-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "p a"
        "p a"
        "i i"
        "i i";
        height: 100%;
        background-color: lightblue;
        color: grey;
        grid-gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(1fr);
    }
}

.about {
    grid-area: a;
}

.picture {
    grid-area: p;
}