body {
    background: url(background.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
    color: rgb(46, 46, 46);
    padding-left: 15%;
    padding-right: 15%;
}

img {
    width: 100%;
    padding-top: 22px;
    margin: 0 auto;
}

.other {
    padding: 10px;
    background-color: rgba(80, 154, 204, 0.8);
    grid-area: o;
}